body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

i{
  width: 1.2em;
}

a:hover {
  color: grey;
}

input {
  border: none;
  border-bottom: black solid 0.1em;
  border-top: black solid 0.1em;
  outline: none;
  font-size: 1em;
  width: 100%;
}

.first_name, .last_name, .email, .edit, .delete, .utility, .profile_left, .profile_right{
  position: relative;
  display: inline-block;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: white;
  height: 6.5em;
  border-bottom: grey 0.1em solid;
}

.nav_container {
  position: relative;
  width: 90%;
  min-width: 50em;
  margin: 0 auto;
}

.logo {
  width: 15em;
}

.manage_link {
  position: absolute;
  top: 2em;
  right: 0;
  font-size: 1.2em;
}

.manage_container, .user_container {
  padding-top: 6em;
  padding-bottom: 3em;
  min-width: 50em;
  width: 70vw;
  margin: 0 auto;
}

.first_name, .last_name{
  min-width: 12em;
  width: 18.5vw;
  cursor: pointer;
}

.email {
  min-width: 17em;
  width: 23vw;
}

.edit, .delete {
  margin-left: 1vw;
}

.title {
  position: fixed;
  border-bottom: 0.2em black solid;
  background-color: white;
  z-index: 100;
  width: inherit;
  min-width: inherit;
}

.users {
  padding-top: 12em;
}

.user {
  margin-bottom: 0.5em;
}

.profile_pic {
  width: 26em;
}

.user_container {
  margin-top: 3em;
}

.profile_left {
  border-right: 0.1em grey solid;
}

.profile_right {
  font-size: 1em;
  margin-left: 1em;
  vertical-align: top;
}

.profile_right div{
  margin-bottom: 0.5em;
}